In [4]:
import pandas as pd

medals = pd.read_csv("../datasets/medals_by_country_2016.csv", index_col=0)
medals.head()

               Bronze  Gold  Silver
United States      67   137      52
Germany            67    47      43
Great Britain      26    64      55
Russia             35    50      28
China              35    44      30

# Quantitative comparisons: bar-charts