# Filtering Joins

In order to get some datasets I needed to export them by convertind the dataframe to a csv and then outputting the contents of the file to the terminal such as the example below.
```Python
# output the contents of the dataframe to CSV wile also removing the index for pushing it to a dataframe.
wards_altered.to_csv("wards_altered.csv", index=False)

# open the file and read the contents of the file to the terminal.
with open("wards_altered.csv", "r") as f:
    print(f.read())
```

### Performing and Anti Join

In [4]:
import pandas as pd
employees = pd.read_csv("../datasets/employees.csv")
top_cust = pd.read_csv("../datasets/top_cust.csv")

In [5]:
# Merge employees and top_cust
empl_cust = employees.merge(top_cust, on='srid', 
                                 how='left', indicator=True)

# Select the srid column where _merge is left_only
srid_list = empl_cust.loc[empl_cust['_merge'] == 'left_only', 'srid']

# Get employees not working with top customers
print(employees[employees["srid"].isin(srid_list)])

   srid     lname    fname            title   hire_date  \
0     1     Adams   Andrew  General Manager  2002-08-14
1     2   Edwards    Nancy    Sales Manager  2002-05-01
5     6  Mitchell  Michael       IT Manager  2003-10-17
6     7      King   Robert         IT Staff  2004-01-02
7     8  Callahan    Laura         IT Staff  2004-03-04

                     email
0   andrew@chinookcorp.com
1    nancy@chinookcorp.com
5  michael@chinookcorp.com
6   robert@chinookcorp.com
7    laura@chinookcorp.com

### Performing a semi join

In [8]:
# Import data
non_mus_tcks = pd.read_csv("../datasets/non_mus_tcks.csv")
top_invoices = pd.read_csv("../datasets/top_invoices.csv")
genres = pd.read_csv("../datasets/genres.csv")

In [9]:
# Merge the non_mus_tck and top_invoices tables on tid
tracks_invoices = non_mus_tcks.merge(top_invoices, on='tid')

# Use .isin() to subset non_mus_tcsk to rows with tid in tracks_invoices
top_tracks = non_mus_tcks[non_mus_tcks['tid'].isin(tracks_invoices['tid'])]

# Group the top_tracks by gid and count the tid rows
cnt_by_gid = top_tracks.groupby(['gid'], as_index=False).agg({'tid':'count'})

# Merge the genres table to cnt_by_gid on gid and print
print(cnt_by_gid.merge(genres, on='gid'))

   gid  tid      name
0   19    4  TV Shows
1   21    2     Drama
2   22    1    Comedy

# Concatenating Dataframes Together Vertically

### Concatenation basics

In [10]:
# load data
tracks_master = pd.read_csv("../datasets/tracks_master.csv")
tracks_ride = pd.read_csv("../datasets/tracks_ride.csv")
tracks_st = pd.read_csv("../datasets/tracks_st.csv")

In [11]:
# Concatenate the tracks
tracks_from_albums = pd.concat([tracks_master, tracks_ride, tracks_st],
                               sort=True)
print(tracks_from_albums)

   aid             composer  gid  mtid                     name   tid  u_price
0  152  J.Hetfield/L.Ulrich    3     1                  Battery  1853     0.99
1  152            K.Hammett    3     1        Master Of Puppets  1854     0.99
2  152  J.Hetfield/L.Ulrich    3     1        Disposable Heroes  1857     0.99
0  154                  NaN    3     1     Fight Fire With Fire  1874     0.99
1  154                  NaN    3     1       Ride The Lightning  1875     0.99
2  154                  NaN    3     1  For Whom The Bell Tolls  1876     0.99
3  154                  NaN    3     1            Fade To Black  1877     0.99
4  154                  NaN    3     1        Trapped Under Ice  1878     0.99
0  155                  NaN    3     1                  Frantic  1882     0.99
1  155                  NaN    3     1                St. Anger  1883     0.99
2  155                  NaN    3     1     Some Kind Of Monster  1884     0.99
3  155                  NaN    3     1             Dirty Window  1885     0.99
4  155                  NaN    3     1            Invisible Kid  1886     0.99

In [12]:
# Concatenate the tracks so the index goes from 0 to n-1
tracks_from_albums = pd.concat([tracks_master, tracks_ride, tracks_st],
                               ignore_index=True,
                               sort=True)
print(tracks_from_albums)

    aid             composer  gid  mtid                     name   tid  \
0   152  J.Hetfield/L.Ulrich    3     1                  Battery  1853
1   152            K.Hammett    3     1        Master Of Puppets  1854
2   152  J.Hetfield/L.Ulrich    3     1        Disposable Heroes  1857
3   154                  NaN    3     1     Fight Fire With Fire  1874
4   154                  NaN    3     1       Ride The Lightning  1875
5   154                  NaN    3     1  For Whom The Bell Tolls  1876
6   154                  NaN    3     1            Fade To Black  1877
7   154                  NaN    3     1        Trapped Under Ice  1878
8   155                  NaN    3     1                  Frantic  1882
9   155                  NaN    3     1                St. Anger  1883
10  155                  NaN    3     1     Some Kind Of Monster  1884
11  155                  NaN    3     1             Dirty Window  1885
12  155                  NaN    3     1            Invisible Kid  1886

    u_price
0      0.99
1      0.99
2      0.99
3      0.99
4      0.99
5      0.99
6      0.99
7      0.99
8      0.99
9      0.99
10     0.99
11     0.99
12     0.99

In [13]:
# Concatenate the tracks, show only columns names that are in all tables
tracks_from_albums = pd.concat([tracks_master, tracks_ride, tracks_st],
                               join="inner",
                               sort=True)
print(tracks_from_albums)

   aid  gid  mtid                     name   tid  u_price
0  152    3     1                  Battery  1853     0.99
1  152    3     1        Master Of Puppets  1854     0.99
2  152    3     1        Disposable Heroes  1857     0.99
0  154    3     1     Fight Fire With Fire  1874     0.99
1  154    3     1       Ride The Lightning  1875     0.99
2  154    3     1  For Whom The Bell Tolls  1876     0.99
3  154    3     1            Fade To Black  1877     0.99
4  154    3     1        Trapped Under Ice  1878     0.99
0  155    3     1                  Frantic  1882     0.99
1  155    3     1                St. Anger  1883     0.99
2  155    3     1     Some Kind Of Monster  1884     0.99
3  155    3     1             Dirty Window  1885     0.99
4  155    3     1            Invisible Kid  1886     0.99

### Concatenating with keys